* {
    box-sizing: border-box;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
h3 {
    margin: 0 !important;
}
html{
    overflow-x: hidden;
}
body {
    /* background: url('/images/bodybg.jpg') no-repeat 100%;
    height: 100vh;
    padding: 81px 52px; */
    background: url(../images/bodybg.jpg) no-repeat;
    padding: 81px 52px;
    background-size: 100% 100%;
    overflow-x: hidden;
}
.pageContent {
    background-color: white;
    border-radius: 5px;}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/* most used */
/* colors */
.blue-bg {
    background-color: #62bed5 !important;
}
.red-bg {
    background-color: #f04c26 !important;
}
.orange-bg {
    background-color: #f0c826;
}
.green-bg {
    background-color: #78bf40;
}
.blue-text {
    color: #9bd5e5 !important;
}
.red-text {
    color: #f04c26 !important;
}
.orang-text {
    color: #f0c826 !important;
}
.grey-text {
    color: #7d8488 !important;
}
@font-face {
    font-family: 'roboto_light';
    src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'roboto_Medium';
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'roboto_Bold';
    src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'roboto_Bold';
    src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'roboto_Regular';
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'lets-go';
    src: url(../fonts/lets-go-digital.ttf);
}
button:focus {
    background-color: transparent !important;
}
.robotoLight {
    font-family: 'roboto_light';
}
.robotoMedium {
    font-family: 'roboto_Medium';
}
.robotoBold {
    font-family: 'roboto_Bold';
}
.robotoRegular {
    font-family: 'roboto_Regular';
}
.letsGo {
    font-family: 'lets-go';
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.bold {
    font-weight: bold;
}
/* start navbar */
.navbar {
    background-color: white !important;
    padding: 10px 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.logos span {
    margin-left: 34px;
}
.dubiLogo {
    background: url(../images/logos/DubiLogo.png) no-repeat;
    width: 155px;
    height: 61px;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% 100%;
}
.profile {
    padding: 14px 24px;
    display: flex;
    align-items: center;
    border-right: 1px solid #EEE;
    flex-wrap: wrap;
}
.profileLogo {
    display: flex;
}
.username {
    display: inline-block;
    margin-left: 13px;
}
.username h6:nth-child(1) {
    line-height: 23px;
}
.username h6:nth-child(2) {
    font-size: 10px;
    color: #7d8488;
}
.user {
    background: url(../images/icons/user.png) no-repeat;
    display: inline-block;
    height: 46px;
    width: 46px;
    /* background-position: bottom; */
    /* border-radius: 50px; */
    background-position: bottom;
}
.dropdown-content {
    z-index: 99999;
}
.dropdown-content li>a,
.dropdown-content li>span {
    color: black;
}
.profile .btn,
.btn-large,
.btn-flat {
    padding: 0px;
    border-radius: 50px;
    height: 46px;
    width: 46px;
    background-color: #69c3ef;
    box-shadow: none;
}
.dubiGovBlock {
    padding-left: 43px;
    margin: auto;
}
.dubiGovLogo {
    background: url(../images/logos/dubigov_06_06.png);
    width: 105px;
    height: 41px;
    display: inline-block;
}
/* end navbar */
/* start timerBlock */
.progress {
    height: 52px;
    background-image: url('../images/progressbg.jpg');
    margin: 0px;
    border: 1px solid #ebebeb;
}
.progress .determinate {
    background-image: url('../images/greenbar.jpg');
    width: 70%;
    -webkit-animation-name: animateBar;
    -webkit-animation-duration: 4s;
    animation-name: animateBar;
    animation-duration: 4s;
    padding: 10px;
    color: white;
}
::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e7e7e7;
}
@keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.timerBlock {
    background-color: #425a66;
    height: 52px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer {
    font-size: 50px;
    line-height: 50px;
    color: #9ee666;
    width: 50%;
}
.tabsBlock_close {
    right: -400px;
  }
.timeBlock {
    border: 1px solid #ebebeb;
}
.col-timerBlock {
    padding: 0px !important;
}
.clock {
    display: inline-block;
    background: url('../images/icons/chronometer-stopped.png') no-repeat;
    height: 50px;
    width: 50px;
    background-position: center;
    vertical-align: middle;
}
/* end timerBlock */
/* start querstion Block */
.container {
    width: 100%;
    max-width: initial;
}
.container>.row {
    margin: 0;
}
.container>.row>.col {
    padding: 0px 43px;
}
.remaining-ques {
    line-height: 60px;
}
.questionsBlock {
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0);
}
.quesBlock{
    width:136%;
}
.headerQuestion {
    min-height: 100px;
    background-color: #fbfbfb;
    position: relative;
    padding: 29px 20px;
}
.headerQuestion .question span:nth-child(1) {
    font-size: 34px;
}
.headerQuestion .question span:nth-child(2) {
    font-size: 21px;
}
.question h5 {
    display: inline-block;
    margin-left: 8px;
}
.flagIconBlock {
    position: absolute;
    right: 2%;
    top: 23%;
    text-align: center;
}
.flagIconBlock span {
    display: block;
}
.fa.fa-bookmark {
    cursor: pointer;
    font-size: 29px !important;
    color: gray;
    font-size: 32px;
    display: block;
}
.flageedtext {
    color: gray;
}
.flaggedColor {
    color: #f0c826 !important;
}
.answersBlock {
    padding: 42px 38px 0px 38px;
    overflow-y: scroll;
    height: 452px;
}
.answersBlock p {
    border-bottom: 1px solid #f8f8f8;
    padding: 40px 0px;
}
[type="radio"]:checked+label {
    color: #68be33 !important;
}
[type="radio"]:not(:checked)+label {
    color: #5b6266 !important;
}
[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
    padding-left: 48px;
    line-height: 39px;
}
[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #68be33;
}
[type="radio"]+label:before,
[type="radio"]+label:after {
    width: 27px;
    height: 27px;
    border: 1px solid #eaecec !important;
}
.btnsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 46px; */
    margin: 37px auto;
}
.btnsBlock i.right{
    
    margin-left: 43px;
}
.btnsBlock i.left{
    
    margin-right: 43px;
}
.btnsBlock .btn,
.btn-large {
    border-radius: 5px;
    width: 163px;
    height: 43px;
    padding-top: 5px;
    
    font-size: 16px;
    padding: 5px 1rem;
}
.rightBtns a:nth-child(1) {
    background-color: white;
    color: black;
    margin-right: 20px;
    
}
.rightBtns a:nth-child(2) {
    background-color: #68be33;
    color: black;
}
.leftBtns .btn:nth-child(1),
.btn-large {
    background: url(../images/icons/calculator.png) no-repeat #26a69a;
    background-size: 22%;
    background-position: -4% 268%;
    margin-right: 20px;
    
}
/* start tabs Block */
.tabsBlock {
    width: 326px;
    margin: auto;
}
.tableft{
    margin-right: -421px;
}
.tabsHeader {
    margin-bottom: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    color: white;
}
.tabcont {
    overflow: hidden;
    padding-left: 48px;
    height: 46px;
    width: 48px;
    cursor: pointer;
}
.tabcont span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
.allquestion {
    background: url('../images/icons/allquestions.jpg ') no-repeat #7fccf1;
}
.flagge {
    background: url('../images/icons/flagg.jpg') no-repeat #f2d046;
    background-repeat: no-repeat;
}
.notAnswer {
    background: url('../images/icons/unanswer.jpg') no-repeat #f26746;
    background-repeat: no-repeat;
}
.tabActive {
    width: 229px;
}
.tabsContainer {
    border: 1px solid #e2e5e7;
    min-height: 505px;
}
.contentActive {
    display: block !important;
}
.iconBar {
    background: url('../images/icons/bar.png');
    display: block;
    height: 66px;
    width: 66px;
    background-size: 100% 100%;
    position: relative;
}
.examstatusBlock {
    background-color: #fbfbfb;
    border-bottom: 1px solid #e2e5e7;
    padding: 0px 19px;
}
.examstatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e5e7;
    padding: 17px 0px;
}
.examstatustext {
    margin-left: 22px;
}
.examstatustext h6:nth-child(1) {
    line-height: 25px;
}
.examstatustext h6:nth-child(2) {
    color: #7d8488;
}
.examstatus span {
    position: absolute;
    bottom: 23px;
    right: 26px;
}
.questionstatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0px;
}
.quesStatNum {
    padding-left: 11px;
}
.quesStatNum h6 {
    font-size: 12px;
}
.blueBorder {
    border-left: 3px solid #9bd5e5;
}
.orangeBorder {
    border-left: 3px solid #f0c826;
}
.redBorder {
    border-left: 3px solid #f04c26;
}
.contnetTab {
    height: 334px;
    overflow-y: scroll;
}
.tabBlock {
    padding: 10px;
}
.contnetTab .tabBlock .examQuestNumbers {
    display: flex;
    flex-wrap: wrap;
    padding: 38px 0px;
}
.redShadwo {
    box-shadow: 2px 2px 0px 0px rgba(240, 76, 38, 1);
}
.blueShadwo {
    box-shadow: 2px 2px 0px 0px rgba(155, 213, 229, 1);
}
.orangeShadwo {
    box-shadow: 2px 2px 0px 0px rgba(240, 200, 38, 1);
}
.contnetTab .tabBlock .examQuestNumbers>a {
    background-color: white;
    margin: 5px;
    width: 50px;
    height: 35px;
    border: 1px solid #f7f7f8;
    text-align: center;
    padding: 5px;
}
.examQuestNumbers a span {
    font-size: 13px;
    margin-left: 2px;
}
.closeBlock {
    position: absolute;
    top: 0%;
    left: -6.8%;
    z-index: 9999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.closeBlock span {
    transform: rotate(-90deg);
    display: inline-block;
    margin: 20px -10px;
    color: #5b6266;
    font-weight: 500;
}
.closeIcon {
    background-image: url(../images/icons/closeIcon.png);
    background-color: #78bf40;
    display: block;
    height: 45px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    cursor: pointer;
}

/* end tabs Block */
.col-12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.tab-content {
    display: none;
}
.tab-content.current {
    display: inherit;
}
/* media query */


@media (min-width: 576px) and (max-width: 767.98px) { 

    .navbar{
        padding: 0px !important;
    }
    /* .profile{
        padding: 14px 12px;
    } */
    .navbar .logos 
    {
        margin: auto; 
    }
    .navbar .profileLogo 
    {
        margin: auto; 
    }
    .tabsBlock{
        width: 100%;
    }
    .tabActive{
        width: 100%;
    }
    .examstatus{
        justify-content: flex-start;
    }
    .closeBlock {
        left: -3.8%;
    }
    .question h5{
        font-size: 16px !important;
    }
    .headerQuestion .question span:nth-child(1){
        font-size: 24px;
    }
    .headerQuestion .question span:nth-child(2){
        font-size: 17px;
    }
    .btnsBlock{
        text-align: center;
    }
    .btnsBlock .btn, .btn-large{
        margin: 14px 0px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .tabsBlock{
        width: 100%;
    }
    .tabActive{
        width: 100%;
    }
    .examstatus{
        justify-content: flex-start;
    }
    .navbar{
        flex-wrap: nowrap;
        padding: 0px;
    }
    .profile{
        flex-wrap: nowrap;

    }
    .closeBlock{
        left: -5.8%
    }
    .question h5{
        font-size: 16px !important;
    }
    .headerQuestion .question span:nth-child(1){
        font-size: 24px;
    }
    .headerQuestion .question span:nth-child(2){
        font-size: 17px;
    }
    .btnsBlock{
        text-align: center;
    }
    .btnsBlock .btn, .btn-large{
        margin-left: 0px;
        width: unset;
    }

 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .tabsBlock{
        width: 100%;
    }
    .tabActive{
        width: 100%;
    }
    .examstatus{
        justify-content: flex-start;
    }

    .navbar{
        flex-wrap: nowrap;
    }
    .profile{
        flex-wrap: nowrap;

    }
    .timer{
        font-size: 25px;
    }
    .profile{
        padding: 0px;
    }
    .row .col.l2{
        width: 100%;
     }
     .row .col.l10{
        width: 100%; 
     }
     .closeBlock{
        left: -5.8%
    }
    .question h5{
        font-size: 16px !important;
    }
    .headerQuestion .question span:nth-child(1){
        font-size: 24px;
    }
    .headerQuestion .question span:nth-child(2){
        font-size: 17px;
    }
 }
 @media (min-width: 1022px) and (max-width:1639px) {
     .tabsBlock{
         width: 100%;
     }
     .tabActive{
         width: 100%;
     }
     .row .col.xl9{
        width: 64%;
     }
     .row .col.xl3{
        width: 36%;
     }
     .timer{
        font-size: 30px;
    }
    .navbar{
        flex-wrap: nowrap;
    }
    .profile{
        flex-wrap: nowrap;

    }
    .question h5{
        font-size: 16px !important;
    }
    .headerQuestion .question span:nth-child(1){
        font-size: 24px;
    }
    .headerQuestion .question span:nth-child(2){
        font-size: 17px;
    }
    .quesStatNum h6 {
        font-size: 10px;
    }

 }
@media (min-width: 1200px) {

  .closeBlock{
        left: -5.8%
    }

 }
